body{
    margin: 0;
    padding: 0;
}
.search-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  height: 10vh;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-top: 2rem;
}

button{
  width: 20%;
  background-color: blue;
  color: white;
  border-color: blue;
}

.container input{
  width: 98%;
}

.search-content h1{
  color: white;
}

.container{
    height: 90vh;

}

ul{
    list-style: none;
}